/* Element to add the underline animation */
a {
    position: relative; /* Create positioning context for ::after pseudo-element */
    text-decoration: none; /* Remove static underline */
    color: firebrick;
    display: inline-block; /* Appear in the same line but act as a block */
    overflow: hidden;
    vertical-align: bottom;
}

/* Using the ::after pseudo-element to create a line that will serve as the underline */
a::after {
    content: '';
    position: absolute;/* Positions the pseudo-element relative to its nearest positioned ancestor, which is the element with position: relative; */
    bottom: 0;
    left: -100%; /* Position of the line at x axis, before the animation (not visible due to hidden overflow of parent element) */
    width: 100%; /* The line spans the entire width of the parent element */
    height: 0.1em;
    background-color: firebrick;
    transition: transform 300ms; /* Animation effect */
    transform: translateX(0%); /* Position of the line at the start of the animation */
  }
  
a:hover::after,
a:focus::after {
  transform: translateX(100%); /* Position of the line at the end of the animation */
}