/* Element to add the underline animation */
a {
    position: relative; /* Create positioning context for ::after pseudo-element */
    text-decoration: none; /* Remove static underline style */
    color: firebrick;
    display: inline-block; /* Apper in the same line but act as a block */
    overflow: hidden;
    vertical-align: bottom;
}

/* Using the ::after pseudo-element to create a line that will serve as the underline */
a::after {
    content: '';
    position: absolute;/* Positions the pseudo-element relative to its nearest positioned ancestor, which is the element with position: relative; */
    bottom: 0;
    left: 0;
    width: 100%; /* Spans the entire width of the parent element */
    height: 0.1em;
    background-color: firebrick;
    transition: transform 300ms; /* Animation effect */
    transform: translateX(-100%); /* Initial position of the line and with overflow hidden on <a>, we don't see it */
  }
  
a:hover::after,
a:focus::after {
  transform: translateX(0%); /* Final position of the line */
}